<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Rajiv Aaron Manglani</string>
	<key>CFBundleDisplayName</key>
	<string>Email Tab URLs</string>
	<key>CFBundleIdentifier</key>
	<string>com.rajivaaronmanglani.emailtaburls</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>EmailTabURLs.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>emailTabURLs</string>
				<key>Identifier</key>
				<string>emailTabURLs</string>
				<key>Image</key>
				<string>EmailTabURLsToolbarIcon.png</string>
				<key>Label</key>
				<string>Email tab URLs</string>
				<key>Tool Tip</key>
				<string>Email URLs of all open tabs</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Composes an email containing the URLs of all open tabs.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://github.com/rajiv/EmailTabURLs-SafariExtension/raw/master/updates.plist</string>
	<key>Website</key>
	<string>http://github.com/rajiv/EmailTabURLs-SafariExtension</string>
</dict>
</plist>
